<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>StudentPreneur Sign in</title>
  </head>
  <body>
    <div id="app">
      <header>
        <nav>
          <div class="logo">StudentPreneur</div>
          <div class="log_button">
            <button onclick="signIn()">Sign In</button>
            <button onclick="signUp()">Sign Up</button>
          </div>
        </nav>
      </header>

      <section class="login-section">
        <div class="login-left">
          <div>
            <h2>Join Studentpreneur<br />Turn your ideas into reality</h2>
            <button onclick="loginGoogle()">Login with Google</button>
          </div>
          <br />
          <div>
            <form id="loginForm" @submit.prevent="login">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" v-model="email" required />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  v-model="password"
                  required
                />
              </div>
              <button type="submit">Login</button>
            </form>
          </div>
        </div>
        <div class="login-right">
          <img src="img/login.jpg" alt="Login Image" />
        </div>
      </section>

      <footer>
        <p>&copy; 2024 StudentPreneur. All rights reserved.</p>
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            email: "",
            password: "",
            hardcodedAccounts: [
              { email: "user1@example.com", password: "user1password" },
              { email: "user2@example.com", password: "user2password" },
              { email: "user3@example.com", password: "user3password" },
              { email: "user4@example.com", password: "user4password" },
            ],
          };
        },
        methods: {
          login() {
            const { email, password } = this;
            const matchedAccount = this.hardcodedAccounts.find(
              (account) =>
                account.email === email && account.password === password
            );

            if (matchedAccount) {
              alert("Login successful!");
              window.location.href = "post.html";
            } else {
              alert("Login failed. Please check your credentials.");
            }
          },
        },
      });

      function signIn() {
        window.location.href = "login.html";
      }
    </script>
  </body>
</html>
