/*--------------individual profile pahe------------
-------------------------------------------*/
body {
    font-family: Arial, sans-serif;
    margin: auto 20px;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  header .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .teamup {
    display: flex;
    align-items: center;
  }
  
  .teamup-btn {
    background-color: #686868;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 10px;
  }
  
.profile-main {
    display: flex;
    width: 90%;
    margin: 2em auto;
}

.profile-sidebar,
.profile-sidebar-right {
    width: 20%;
    background-color: #fff;
    padding: 1em;
    margin: 0 1em;
}

.profile-content {
    width: 60%;
    background-color: #fff;
    padding: 1em;
    margin: 0 1em;
}

.profile-img {
    width: 80%;
    border-radius: 50%;
    height: auto;
}

.profile-social a {
    display: block;
    margin: 0.5em 0;
    text-decoration: none;
    color: #333;
}

.premium-plan {
    margin-top: 2em;
}

.get-started-btn {
    background-color: #686868;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
}

.profile-section {
    margin-bottom: 2em;
}

.profile-section h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
  }
  
  footer p {
    margin: 0;
  }


/*-----------------resource page-----------------------
-----------------------------------*/

nav .profile-icon {
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 50%;
    margin-left: 10px;
}

section {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.investor, .funding, .supplier {
    margin-bottom: 40px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(28% - 20px);
    box-sizing: border-box;
}

.avatar {
    width: 50px;
    height: 50px;
    background: #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
}

.investor-profile, .fundings-profile, .supplier-profile {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

/*----------------------events page---------------------
------------------------------------------------------*/  
  header .profile-icon {
    width: 30px;
    height: 30px;
    background-color: #666;
    border-radius: 50%;
  }

  .events-hero {
    background: url('img/event-cover.jpeg') no-repeat center center;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 120px 50px;
    max-width: 100%;
  }
  
  .events-hero h1 {
    font-size:3em;
    margin-bottom: 100px;
  }
  
  .events-hero p {
    font-size: 1.5em;
    margin-bottom: 50px;
  }
  
  .events-timer {
    font-size: 2em;
    display: flex;
    justify-content: center;
  }
  
  .events-timer span {
    margin: 0 10px;
  }
  
  .events-sessions, .events-competition, .events-workshops {
    padding: 50px 20px;
    text-align: center;
  }
  
  .events-sessions h2, .events-competition h2, .events-workshops h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .events-sessions-container, .events-workshops-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .events-session-card, .events-workshop-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    margin: 10px 5px;
    text-align: center;
    padding: 20px 5px;
  }
  
  .events-session-card img, .events-workshop-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .events-session-card h3, .events-workshop-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .events-session-card p, .events-workshop-card p {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .events-session-card button, .events-workshop-card button {
    background-color: #686868;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .events-competition-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    padding: 30px;
    text-align: left;
    max-width: 500px;
    margin: auto;
  }
  
  .events-competition-details h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .events-competition-details img {
    align-items: center;
    padding: 20px;
    width: 100%;
    text-align: center;
}

  .events-competition-details p {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .events-competition-details button {
    background-color:  #686868;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
  }


.event-search button{
    background-color:  #686868;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .events-workshops-search input, .events-workshops-search select, .events-workshops-search button {
    padding: 10px;
    margin: 0 30px;
  }
  